body {
  text-align: center;
}
.button-container {
  height: 27rem;
  width: 30rem;
  margin: 25px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.btn {
  height: 12rem;
  width: 13rem;
  border: 3px solid #000;
  margin: 15px;
  border-radius: 20%;
}
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}
.blue {
  background-color: blue;
}
.red {
  background-color: red;
}
.flash {
  background-color: white;
}
